<div class="container-fluid footer mt-5">
  <div class="row">
      <!-- name  -->
      <div class="col-lg-6 mt-3 mb-3">
          <h1>Indian Primier League</h1>
          <p>Yatra Pratibha Avsara Prapnotihi</p>
      </div>
      <div class="col-lg-2 mt-3 mb-3">
          <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwipmvP5hZiAAxWCgVwKHWPjBKMQFnoECC8QAQ&url=https%3A%2F%2Fwww.facebook.com%2FIPL%2F&usg=AOvVaw24-3pw-agIMfp1GYAfNHPO&opi=89978449" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjq6vaJhpiAAxWHIMAKHd1qBo84ChAWegQIChAB&url=https%3A%2F%2Ftwitter.com%2FIPL&usg=AOvVaw03_pdIR88w5IEKjoxIqLlR&opi=89978449" target="_blank"><i class="bi bi-twitter"></i></a>
          <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwipmvP5hZiAAxWCgVwKHWPjBKMQFnoECBUQAQ&url=https%3A%2F%2Fwww.instagram.com%2Fiplt20%2F%3Fhl%3Den&usg=AOvVaw3chwcFQjO7lllAgKMFXr5z&opi=89978449" target="_blank"><i class="bi bi-instagram"></i></a>
      </div>
  </div>
</div>
